form {
	background: rgba(#FFF,0.2);
}

fieldset {
	border: none;
}

legend {
	background: rgba(#000,0.05);
	border: none;
	color: rgba(#000,0.2);
	display: block;
	font-size: 0.67rem;
	margin-bottom: 0.67rem;
	padding: 1rem;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}

label {
	display: block;
}

input,
select,
textarea {
	background: #FFF;
	border: none;
	color: #000;
	display: block;
	padding: 0.5rem;
}

input[type=range] {
	background: transparent;
	-webkit-appearance: none;
	width: 100%;
	
	&:focus {
		outline: none;
	}

	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		background: #FFF;
		height: 2rem;
		width: 2rem;
		margin: -0.5rem 0;
		cursor: pointer;
		position: relative;
		
		&:before {
			content: attr('value');
			height: 2rem;
			left: 0;
			position: absolute;
			width: 2rem;
			text-align: center;
			top: 0.75em;
		}

	}
	
	&::-webkit-slider-runnable-track {
		width: 100%;
		cursor: pointer;
		background: rgba(0,0,0,0.2);

	}

	&::-ms-track {
		width: 100%;
		cursor: pointer;
		background: transparent;
		border-color: transparent;
		color: transparent;
	}

}

button, 
.btn {
	background: rgba(#000,0.8);
	border: none;
	color: #FFF;
	cursor: pointer;
	display: block;
	font-family: inherit;
	font-size: inherit;
	margin: 0 5px 5px 0;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;

	&:hover,
	&:focus {
		background-color: rgba(#000,1);
		color: #FFF;
	}
}

progress {
	width: 100%;
	/* Reset the default appearance */
	-webkit-appearance: none;
	appearance: none;

	&::-webkit-progress-bar {
		background-color: rgba(#000,0.2);
	}

	&::-webkit-progress-value {
		background-image:
			-webkit-linear-gradient(-45deg, 
				transparent 33%, rgba(0, 0, 0, .1) 33%, 
				rgba(0,0, 0, .1) 66%, transparent 66%),
			-webkit-linear-gradient(top, 
				rgba(255, 255, 255, .25), 
				rgba(0, 0, 0, .25)),
			-webkit-linear-gradient(left, #09c, #f44);
		border-radius: 2px; 
		background-size: 35px 20px, 100% 100%, 100% 100%;
	};
}

.input-group {
	
	/* flexbox specific properties */
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    margin: 0 0 0.67rem;

    > div {
	    /* flexbox specific properties */
		-webkit-flex: auto;
		flex: auto;
		margin-right: 7%;
		
		&.no-label {
			margin-top: 1.33rem;
		}
    }
    
    input, textarea, select {
	    width: 100%;
    }
    
	.col-12 {
		width: 100%;
	}
	.col-9 {
		width: 75%;
	}
	.col-8 {
		width: 100%/3*2;
	}
	.col-6 {
		width: 50%;
	}
	.col-4 {
		width: 100%/3;
	}
	.col-3 {
		width: 25%;
	}
	.col-2 {
		width: 100%/6;
	}
	
}