$brand-size : 30px;

body {
	background: -webkit-linear-gradient(#660ed8 0%, #aa84f5 100%);
	background: -moz-linear-gradient(#660ed8 0%, #aa84f5 100%);
	color: #FFF;
	font-family: AvenirNext-Regular, Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

a {
	color: rgba(#000,0.8);

	&:hover,
	&:focus {
		color: rgba(#000,1);
	}
}

.content-wrap {
	margin: 10px 5%;
	width: 90% !important;
}

footer {
	background: rgba(#000,0.1);
	font-size: 0.75rem;
	margin: 2rem -5% 0;
	padding: 2rem 1rem;
	width: 100% !important;
}

h1 {
	line-height: 1.1;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

textarea.code {
	font-family: Courier;
	width: 100%;
	height: 10rem;
}
