$brand-size : 30px;

body {
	background: -webkit-linear-gradient(#660ed8 0%, #aa84f5 100%);
	color: #FFF;
	font-family: AvenirNext-Regular, sans-serif;
	margin: 0;
	padding: 0;
}

a {
	color: rgba(#000,0.8);

	&:hover,
	&:focus {
		color: rgba(#000,1);
	}
}

.content-wrap {
	margin: 10px 5%;
	width: 90% !important;
}