/*** Global	***/
/* line 1, ../sass/_global/_page.scss */
body {
  background: -webkit-linear-gradient(#660ed8 0%, #aa84f5 100%);
  color: #FFF;
  font-family: AvenirNext-Regular, sans-serif;
}

/* line 1, ../sass/_global/_forms.scss */
form {
  background: rgba(255, 255, 255, 0.2);
}

/* line 5, ../sass/_global/_forms.scss */
fieldset {
  border: none;
}

/* line 9, ../sass/_global/_forms.scss */
legend {
  background: rgba(0, 0, 0, 0.05);
  border: none;
  color: rgba(0, 0, 0, 0.2);
  display: block;
  font-size: 0.67rem;
  margin-bottom: 0.67rem;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

/* line 22, ../sass/_global/_forms.scss */
label {
  display: block;
}

/* line 26, ../sass/_global/_forms.scss */
input,
select,
textarea {
  background: #FFF;
  border: none;
  color: #000;
  display: block;
  padding: 0.5rem;
}

/* line 36, ../sass/_global/_forms.scss */
input[type=range] {
  background: transparent;
  -webkit-appearance: none;
  width: 100%;
}
/* line 41, ../sass/_global/_forms.scss */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
/* line 45, ../sass/_global/_forms.scss */
input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
/* line 53, ../sass/_global/_forms.scss */
input[type=range]:focus {
  outline: none;
}
/* line 57, ../sass/_global/_forms.scss */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #FFF;
  height: 2rem;
  width: 2rem;
  margin: -0.5rem 0;
  cursor: pointer;
}
/* line 66, ../sass/_global/_forms.scss */
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.2);
}

/* line 75, ../sass/_global/_forms.scss */
button,
.btn {
  background: rgba(0, 0, 0, 0.8);
  border: none;
  color: #FFF;
  display: block;
  font-family: inherit;
  font-size: inherit;
  margin: 0 5px 5px 0;
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
}

/* line 90, ../sass/_global/_forms.scss */
.input-group {
  /* flexbox specific properties */
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  margin: 0 0 0.67rem;
}
/* line 99, ../sass/_global/_forms.scss */
.input-group > div {
  /* flexbox specific properties */
  -webkit-flex: auto;
  flex: auto;
  margin-right: 7%;
}
/* line 105, ../sass/_global/_forms.scss */
.input-group > div.no-label {
  margin-top: 1.33rem;
}
/* line 110, ../sass/_global/_forms.scss */
.input-group input, .input-group textarea, .input-group select {
  width: 100%;
}
/* line 114, ../sass/_global/_forms.scss */
.input-group .col-12 {
  width: 100%;
}
/* line 117, ../sass/_global/_forms.scss */
.input-group .col-9 {
  width: 75%;
}
/* line 120, ../sass/_global/_forms.scss */
.input-group .col-8 {
  width: 66.66667%;
}
/* line 123, ../sass/_global/_forms.scss */
.input-group .col-6 {
  width: 50%;
}
/* line 126, ../sass/_global/_forms.scss */
.input-group .col-4 {
  width: 100%/3;
}
/* line 129, ../sass/_global/_forms.scss */
.input-group .col-3 {
  width: 25%;
}
/* line 132, ../sass/_global/_forms.scss */
.input-group .col-2 {
  width: 100%/6;
}

/* line 1, ../sass/_global/_nav.scss */
html,
body,
.container,
.content-wrap {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* line 10, ../sass/_global/_nav.scss */
.menu-wrap a {
  color: #b8b7ad;
}

/* line 14, ../sass/_global/_nav.scss */
.menu-wrap a:hover,
.menu-wrap a:focus {
  color: #c94e50;
}

/* line 19, ../sass/_global/_nav.scss */
.content-wrap {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
}

/* line 26, ../sass/_global/_nav.scss */
.content {
  position: relative;
  background: #b4bad2;
}

/* line 31, ../sass/_global/_nav.scss */
.content::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.4s, -webkit-transform 0s 0.4s;
  transition: opacity 0.4s, transform 0s 0.4s;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

/* Menu Button */
/* line 48, ../sass/_global/_nav.scss */
.menu-button {
  position: fixed;
  z-index: 1000;
  margin: 1em;
  padding: 0;
  width: 2.5em;
  height: 2.25em;
  border: none;
  text-indent: 2.5em;
  font-size: 1.5em;
  color: transparent;
  background: transparent;
}

/* line 62, ../sass/_global/_nav.scss */
.menu-button::before {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  bottom: 0.5em;
  left: 0.5em;
  background: linear-gradient(#373a47 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, #373a47 80%);
  content: '';
}

/* line 72, ../sass/_global/_nav.scss */
.menu-button:hover {
  opacity: 0.6;
}

/* Close Button */
/* line 77, ../sass/_global/_nav.scss */
.close-button {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 1em;
  top: 1em;
  overflow: hidden;
  text-indent: 16px;
  border: none;
  z-index: 1001;
  background: transparent;
  color: transparent;
}

/* line 91, ../sass/_global/_nav.scss */
.close-button::before,
.close-button::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  left: 50%;
  background: #888;
}

/* line 102, ../sass/_global/_nav.scss */
.close-button::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 107, ../sass/_global/_nav.scss */
.close-button::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* Menu */
/* line 113, ../sass/_global/_nav.scss */
.menu-wrap {
  position: absolute;
  z-index: 1001;
  width: 280px;
  height: 100%;
  font-size: 1.15em;
  -webkit-transform: translate3d(-280px, 0, 0);
  transform: translate3d(-280px, 0, 0);
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
}

/* line 125, ../sass/_global/_nav.scss */
.menu {
  position: relative;
  z-index: 1000;
  padding: 3em 1em 0;
}

/* line 131, ../sass/_global/_nav.scss */
.menu,
.close-button {
  opacity: 0;
  -webkit-transform: translate3d(-160px, 0, 0);
  transform: translate3d(-160px, 0, 0);
  -webkit-transition: opacity 0s 0.3s, -webkit-transform 0s 0.3s;
  transition: opacity 0s 0.3s, transform 0s 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.17, 0.67, 0.1, 1.27);
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.1, 1.27);
}

/* line 142, ../sass/_global/_nav.scss */
.icon-list a {
  display: block;
  padding: 0.8em;
}

/* line 147, ../sass/_global/_nav.scss */
.icon-list i {
  font-size: 1.5em;
  vertical-align: middle;
  color: #282a35;
}

/* line 153, ../sass/_global/_nav.scss */
.icon-list a span {
  margin-left: 10px;
  font-size: 0.85em;
  font-weight: 700;
  vertical-align: middle;
}

/* Morph Shape */
/* line 161, ../sass/_global/_nav.scss */
.morph-shape {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  fill: #373a47;
}

/* Shown menu */
/* line 171, ../sass/_global/_nav.scss */
.show-menu .menu-wrap,
.show-menu .content::before {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

/* line 177, ../sass/_global/_nav.scss */
.show-menu .menu-wrap,
.show-menu .menu,
.show-menu .close-button,
.show-menu .morph-shape,
.show-menu .content::before {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 186, ../sass/_global/_nav.scss */
.show-menu .menu,
.show-menu .close-button {
  opacity: 1;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

/* line 195, ../sass/_global/_nav.scss */
.show-menu .content::before {
  opacity: 1;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
