/* line 1, ../sass/_global/_page.scss */
body {
  background: -webkit-linear-gradient(#660ed8 0%, #aa84f5 100%);
  color: #FFF;
  font-family: AvenirNext-Regular, sans-serif;
}

/* line 1, ../sass/_global/_forms.scss */
form {
  background: rgba(255, 255, 255, 0.2);
}

/* line 5, ../sass/_global/_forms.scss */
fieldset {
  border: none;
}

/* line 9, ../sass/_global/_forms.scss */
legend {
  background: rgba(0, 0, 0, 0.05);
  border: none;
  color: rgba(0, 0, 0, 0.2);
  display: block;
  font-size: 0.67rem;
  margin-bottom: 0.67rem;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

/* line 22, ../sass/_global/_forms.scss */
label {
  display: block;
}

/* line 26, ../sass/_global/_forms.scss */
input,
select,
textarea {
  background: #FFF;
  border: none;
  color: #000;
  display: block;
  padding: 0.5rem;
}

/* line 36, ../sass/_global/_forms.scss */
button,
.btn {
  background: rgba(0, 0, 0, 0.8);
  border: none;
  color: #FFF;
  display: block;
  font-family: inherit;
  font-size: inherit;
  margin-right: 1px;
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
}

/* line 50, ../sass/_global/_forms.scss */
.input-group {
  /* flexbox specific properties */
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  margin: 0 0 0.67rem;
}
/* line 59, ../sass/_global/_forms.scss */
.input-group > div {
  /* flexbox specific properties */
  -webkit-flex: auto;
  flex: auto;
  margin-right: 7%;
}
/* line 65, ../sass/_global/_forms.scss */
.input-group > div.no-label {
  margin-top: 1.33rem;
}
/* line 70, ../sass/_global/_forms.scss */
.input-group input, .input-group textarea, .input-group select {
  width: 100%;
}
/* line 74, ../sass/_global/_forms.scss */
.input-group .col-12 {
  width: 100%;
}
/* line 77, ../sass/_global/_forms.scss */
.input-group .col-9 {
  width: 75%;
}
/* line 80, ../sass/_global/_forms.scss */
.input-group .col-8 {
  width: 66.66667%;
}
/* line 83, ../sass/_global/_forms.scss */
.input-group .col-6 {
  width: 50%;
}
/* line 86, ../sass/_global/_forms.scss */
.input-group .col-4 {
  width: 100%/3;
}
/* line 89, ../sass/_global/_forms.scss */
.input-group .col-3 {
  width: 25%;
}
/* line 92, ../sass/_global/_forms.scss */
.input-group .col-2 {
  width: 100%/6;
}
