body {
	background: fixed #222 url(/img/layout/bg_radial.png) no-repeat 50% 50%;
	color: #f0f0f0;
	font-family: 'Helvetica Neue', Arial, sans-serif;
}

h1, h2, h3, h4,
table,
#content,
form .input,
dl dd:nth-child(4n+2), dl dt:nth-child(4n+1)  {
	background: transparent;
	color: inherit;
}

h1, h2, h3 {
	font-family: 'Fugaz One', cursive;
	text-shadow: rgba(0,0,0,0.7) 0 3px 2px;
}
h1 {
  font-size: 27px;
}

header h1 {
	font-size: 35px;
}


a:link,
a:visited {
	color: #EEE;
	text-decoration: none;
}
a:hover,
a:focus,
a:active {
  color: #FFF;
}

table {
  border-collapse:collapse;
}

table tr td {
  border: none;
}
table tr:nth-child(even) {
	background: #333;
}

header {

}

header nav {
	position: absolute;
	top: 16px;
	right: 16px;
}

footer nav {
	float: right;
}

nav ul {
	overflow: hidden;
	list-style: none;
}
nav li {
	float: left;
	margin-right: 4px;
}
nav a {
  display: block;
  background: -webkit-linear-gradient(#000000 0%, rgba(0,0,0,0.8) 100%);
  padding: 4px 16px;
  border-radius: 20px;
}

form ul,
form ol {
  list-style: none;
}
label {
  font-weight: normal;
  font-size: 0.85em;
	color: #888;
}
div.input {
  margin-bottom: 8px;
}
div.input input {
  border-radius: 4px;
}

div.submit input {
  font-weight: bold;
  color: #333;
  text-shadow: rgba(255,255,255,0.5) 0 1px 0;
  background: -webkit-linear-gradient(#CCC 100%, #999 100%);
  padding: 8px 16px;
  border-radius: 20px;
}

#container {
  margin: 16px;
}

.stats {
  overflow: hidden;
}

.stats li {
  list-style: none;
  float: left;
  margin-right: 8px;
}
.stats li strong {
  display: block;
  font-size: 23px;
}


