
body {
  background: #000 url(/img/backgrounds/civic_dashboard_hq.jpg) no-repeat top right;
  background-size: cover;
  color: #FFF !important;
  padding: 5rem 18% 2rem 1rem;
}

// nav {
//   background: rgba(0,0,0,0.8);
// }
//
// h1, h2, h3 {
// }
//
// h4, strong {
// }
//
// legend {
//   color: #888;
//   border-bottom: none;
// }
