.card {
	background: rgba(#FFF,0.95);
	color: #444;
	margin: 2rem 0;
	padding: 1rem;

	.price {
		font-size: 1.5rem;
		font-weight: bold;
	}

	time {
		color: #888;
		display: block;
		text-align: center;
	}
}