.input-group, 
.item-group {
	
	/* flexbox specific properties */
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    margin: 0 0 0.67rem;

    > * {
	    /* flexbox specific properties */
		-webkit-flex: auto;
		flex: auto;
		justify-content: space-between;
        vertical-align: middle;
        margin: 0;
        padding: 0;
	}

	.col-12 {
		width: 100%;
	}
	.col-9 {
		width: 75%;
	}
	.col-8 {
		width: (100%/3)*2;
	}
	.col-6 {
		width: 50%;
	}
	.col-4 {
		width: (100%/3);
	}
	.col-3 {
		width: 25%;
	}
	.col-2 {
		width: (100%/6);
	}    
}