.route {

	display: -webkit-flex;
	-webkit-flex-direction: row;

	display: flex;
	flex-direction: row;

	> * {
		align-items: center;
		flex: 1 1 auto;
		justify-content: space-between;
		text-align: center;
        vertical-align: middle;

		&:first-child {
	        background: url('/img/svg/chevron-right.svg') no-repeat 100% 50%;
	        background-size: 20px;
	        min-height: 20px;
	        padding-right: 30px;
        }
	}

	abbr {
		font-size: 3rem;
	}

	.price {
		font-size: 2rem;
	}

	span {
	}
}
