$size-droplet : 20px;

.inactive {
	opacity: 0.5;
}

.reg {
	background: #FC0;
	color: #333;
	font-size: 1.6rem;
	font-weight: bold;
	padding: 0.8rem;
	text-align: center;
	text-transform: uppercase;

	a {
		text-decoration: none;
	}
}

*[class^="fuel-type-"], 
*[class*=" fuel-type-"] {
	background: url(/img/svg/droplet.svg) no-repeat 20% 0;
	background-size: $size-droplet;
	height: $size-droplet;
	text-align: center;
	width: $size-droplet;
}