$size-droplet : 20px;

.inactive {
	opacity: 0.5;
}

.reg {
	background: #FFF;
	color: #333;
	padding: 0.3rem;
	text-align: center;
	text-transform: uppercase;

	a {
		text-decoration: none;
	}
}

*[class^="fuel-type-"], 
*[class*=" fuel-type-"] {
	background: url(/img/svg/droplet.svg) no-repeat 20% 0;
	background-size: $size-droplet;
	height: $size-droplet;
	text-align: center;
	width: $size-droplet;
}